@{
    ViewBag.Title = "Bankers Bank File Upload Demo";
}
@Scripts.Render("~/Scripts/simpleUpload.js")
@Scripts.Render("~/Scripts/FileUploadDemo.js")
<div class="jumbotron">
    <h1>@ViewBag.Title</h1>

</div>

<div class="row">
    <div class="col-md-12">
        <div class="input-group">
            <div class="input-group-btn">
                <button id="fileUploadBtn" type="button" class="btn btn-default">Upload</button>
                <button id="fileSelectBtn" type="button" class="btn btn-default">Select File</button>          
            </div>
            <input id="fileNameTextBox" name="file" type="text" class="form-control" placeholder="File To Upload">
        </div>
        <div class="input-group" style="display:inline-block">
            <input type="file" readonly class="form-control-file hidden" id="fileSelectInput">
        </div>
        <div class="progress">
            <div id="uploadProgressBar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                
            </div>
            
        </div>
        <div id="errorAlert" class="alert alert-danger hidden" role="alert"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="displayTable">
          
        </div>
    </div>
</div>